{% extends "base.html" %}

{% block content %}

<div class="top"><h3> Sessions:</h3></div>
<ul>
    {% for sesion in sesions %}
<div class="task">
    <div class="content">

    <li>
        <p>type: {{ sesion.sesion_name }}</p>
        <hr>
        <p>duration: {{ sesion.duration }} min </p>
        <p>date: {{ sesion.sesion_date}}</p>
        <p>time: {{ sesion.sesion_time}}</p>
        <p>capacity: {{ sesion.capacity}}</p>
        <p>active:  {% if sesion.active_status  == True %}
            <i class="fa fa-check fa-2x" style="color:green" aria-hidden="true"></i>
          {% else %}
            <i class="fa fa-times fa-2x" aria-hidden="true"></i>
          {% endif %}</p>



        <p><a href="/sesion/{{sesion.id}}/edit"> Edit </a></p>
        <p><a href="/sesions/{{sesion.id}}/booked"> List of booked members </a></p>
       
    </li>
    </div>
</div>
    {% endfor %}
</ul>

{% endblock %}