{% extends 'base.html' %}
{% block content %}

<h3> Select Sessions to book:</h3>
<ul>
    {% for sesion in sesions %}
    <li>
        <p>type: {{ sesion.sesion_name }}</p>
        <hr>
        <p>duration: {{ sesion.duration }} min </p>
        <p>date: {{ sesion.sesion_date}}</p>
        <p>time: {{ sesion.sesion_time}}</p>
        <p>capacity: {{ sesion.capacity}}</p>
        <p>active: {{ sesion.active_status }} </p>
        <p><a href="/sesion/{{sesion.id}}/confirm"> Book </a></p>
       
    </li>
    {% endfor %}
</ul>

{% endblock %}
